a {
  text-decoration: none;
  color: rgb(0, 26, 255);
}
body {
  overflow: hidden;
}
@keyframes growverticalfull {
  0% {
    height: 0;
    top: 0px;
  }
  100% {
    height: 100%;
    top: 0;
  }
}

@keyframes growhorizontalfull {
  0% {
    width: 0;
    left: 0px;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

#line1 /* LEFT FULL */ {
  width: 2px;
  height: 100%;
  background: rgb(27, 6, 224);
  position: absolute;
  display: block;
  animation: growverticalfull 2s linear 1;
  -webkit-animation: growverticalfull 2s linear 1;
  left: 20%;
  top: 0;
  z-index: 50;
}

#line2 /* RIGHT FULL */ {
  width: 2.5px;
  height: 100%;
  background: rgb(27, 6, 224);
  position: absolute;
  display: block;
  animation: growverticalfull 2s linear 1;
  -webkit-animation: growverticalfull 2s linear 1;
  right: 20%;
  top: 0%;
  z-index: 50;
}

#line3 /* TOP FULL */ {
  height: 2px;
  width: 100%;
  background: rgb(27, 6, 224);
  position: absolute;
  display: block;
  animation: growhorizontalfull 2s linear 1;
  -webkit-animation: growhorizontalfull 2s linear 1;
  left: 0;
  top: 10%;
  z-index: 50;
}

#line4  /* BOTTOM FULL*/ {
  height: 2px;
  width: 100%;
  background: rgb(27, 6, 224);
  position: absolute;
  display: block;
  animation: growhorizontalfull 2s linear 1;
  -webkit-animation: growhorizontalfull 2s linear 1;
  bottom: 10%;
  left: 0;
  z-index: 50;
}

/* 4 Full length lines Done*/
/* 6 20% length lines*/

.line-draw-hor {
  background: rgb(27, 6, 224);
  position: relative;
  display: block;
  animation: growhorizontalfull 2s linear 1;
  -webkit-animation: growhorizontalfull 2s linear 1;
  z-index: 50;
}

#line-left-1 {
  width: 100%;
  height: 2px;
  left: 0%;
  top: 33%;
}

#line-left-2 {
  width: 100%;
  height: 2px;
  left: 0%;
  top: 66%;
}

#line-right-1 {
  width: 100%;
  height: 2px;
  left: 0%;
  top: 33%;
}

#line-right-2 {
  width: 100%;
  height: 2px;
  left: 0%;
  top: 66%;
}

/* 6 20% length lines DONE*/

/* 2 60% length lines*/

#center-line-1 {
  background: rgb(27, 6, 224);
  position: relative;
  display: none;
  animation: growhorizontalfull 2s linear 1;
  -webkit-animation: growhorizontalfull 2s linear 1;
  width: 100%;
  height: 2px;
  top: 33%;
  z-index: 10;
}

#center-line-2 {
  background: #1b06e0;
  position: relative;
  display: none;
  animation: growhorizontalfull 2s linear 1;
  -webkit-animation: growhorizontalfull 2s linear 1;
  width: 100%;
  height: 2px;
  top: 66%;
  z-index: 10;
}

/* 2 60% length lines DONE*/

/* Center piece */

@keyframes scale-in-out {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
}

.scollbar-hide::-webkit-scrollbar {
  display: none;
}

.scollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scollbar-hide h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 2;
}
.scollbar-hide h3{
        font-size: 40px;
    font-weight: 500;
}
#center-image-holder {
  position: absolute;
  background-color: white;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: scale-in-out 2s ease-out forwards;
  animation: scale-in-out 2s ease-out forwards;
}

#center-appear-downarrow {
  display: none;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
}

#center-arrow-appear-sec1,
#center-arrow-appear-sec2,
#center-arrow-appear-sec3 {
  display: none;
  position: relative;
  background-color: white;
  height: 33%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#center-appear-home {
  display: none;
  background-color: white;
  justify-content: center;
  align-items: center;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
}

#center-appear-work {
  display: none;
  background-color: rgb(235, 232, 232);
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
  bottom: 10%;
  color: black;
  overflow: auto;
}

#center-appear-work > div {
  padding: 50px;
}

.bounce-in-bottom {
  -webkit-animation: bounce-in-bottom 2s ease-in both;
  animation: bounce-in-bottom 2s ease-in both;
}

@keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
    transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

#work-hide-1 {
  display: none;
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 20;
}

#work-hide-2 {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 20;
}

#work-hide-3 {
  display: none;
  position: absolute;
  top: 65%;
  left: 50%;
  z-index: 20;
}

#work-hide-4 {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 20;
}

#work-hide-imgs {
  height: 150px;
  width: 150px;
}

#center-appear-about {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: rgb(235, 232, 232);
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
  bottom: 10%;
  overflow: scroll;
}

#center-appear-tech {
  position: absolute;
  display: none;
  background-color: rgb(235, 232, 232);
  justify-content: center;
  align-items: center;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
}

#center-appear-careers {
  position: absolute;
  display: none;
  background-color: rgb(235, 232, 232);
  justify-content: center;
  align-items: center;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
}

#center-appear-contact {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: rgb(235, 232, 232);
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
  bottom: 10%;
  overflow: scroll;
}

#img-set,
#contact-set-2 {
  top: 10%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}


#contact-set-2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#img-set-imgs {
  padding: 0px 0;
  
  height: 200px;
  width: 200px;
  object-fit: contain;
}

#center-work-digital {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: rgb(235, 232, 232);
  justify-content: center;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
  bottom: 10%;
  overflow: scroll;
}

#center-work-tool-kit {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: rgb(235, 232, 232);
  justify-content: center;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
  bottom: 10%;
  overflow: scroll;
}

#center-work-packaging {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: rgb(235, 232, 232);
  justify-content: center;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
  bottom: 10%;
  overflow: scroll;
}

#center-work-space {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: rgb(235, 232, 232);
  justify-content: center;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
  bottom: 10%;
  overflow: scroll;
}

#center-work-evp {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: rgb(235, 232, 232);
  justify-content: center;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
  bottom: 10%;
  overflow: scroll;
}
/* Center pieces done */

/* Left and right side sections */
#left {
  position: absolute;
  height: 80%;
  width: 20%;
  left: 0;
  top: 10%;
  z-index: 10;
  gap: 2px;
}

#right {
  position: absolute;
  height: 80%;
  width: 20%;
  right: 0;
  top: 10%;
  z-index: 10;
}

.sidesections {
  margin-top: 0px;
  height: 33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidesec1,
#sidesec4 {
  margin-top: -2px;
}
#sidesec2,
#sidesec5 {
  margin-top: 0px;
}
#sidesec3,
#sidesec6 {
  margin-top: 2px;
}

/* Left and right side sections done */

/* */
#diagonal-text-holder {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#left-arrow-holder {
  position: absolute;
  height: 10%;
  width: 20%;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

#down-arrow-holder {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

#right-arrow-holder {
  position: absolute;
  height: 10%;
  width: 20%;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

#arrow-img {
  width: 50px;
  height: 50px;
}

.tracking-in-expand,
h1 {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    1s both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
